# Supabase Configuration
VITE_SUPABASE_URL=https://nmdsfmjleqdujghgbpuc.supabase.co
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=postgresql://postgres:[haithamsenni]@db.nmdsfmjleqdujghgbpuc.supabase.co:5432/postgres
